:root {
  --evergreen: #23372B;
  --snow: #f0f5f2;
  }


html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  font-size: 1.85rem;
  line-height: 1.5;
  color: #D68348;
  background-image: url('..//assets/trees.jpg');
}

h1,
h2,
h3 {
  margin-bottom: 0.625rem;
  color: #9E1821;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-bottom: 1rem;
}

header {
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 4.5rem;
}

main {
  width: 96%;
  margin: 2rem auto;
}

footer {
  margin: 1.5rem;
  text-align: center;
}

/* create our main grid with flexbox, use negative marsnows to offset the padding on the .card-column class */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.justify-center {
  justify-content: center;
}

.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

/* make each dinner card a flexbox column to align and justify content within it */
.dinner-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: #f0f5f2;

  outline: solid 2px #D68348;
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

.dinner-card .card-header {
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--evergreen);
  color: #9E1821;
  border: 2px solid #D68348;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.dinner-card:hover,
.dinner-card:hover .card-header {
  box-shadow: inset 0px 0px 8px #D68348, 0 0 15px #D68348;
}

/* each card's dinner block grows to the height of the largest dinner block on the page, making each card even in height */
.dinner-card, .dinner-block {
  flex-grow: 1;
}

.dinner-card pre {
  white-space: pre-wrap;
  overflow: auto;
  tab-size: 4;
  padding: 1.2rem 1rem;
  color: #f0f5f2;
  border-radius:  8px;
  background-image: linear-gradient(
    #23372B 0%,
    #496455 100%
  );
  display: flex;
  align-items: center;
}

.dinner-block {
  margin: 0px;
  padding: 100px;
}

@media screen and (min-width: 768px) {
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-column:last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}